 body {
    background-color: #FFDEDE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

p{
    font-size: 13pt;
    margin: 10pt;
    font-weight: bold;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Bungee Spice", Static;
    font-size: 40pt;
    color: red;
    padding: 40px;
    margin: 0;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    border: solid black;
    flex: 1 1 200px; /* Shrinks/Grows with min size */
    max-width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#sym {
    font-size: 50pt;
}
